absl-py==2.1.0
argcomplete==2.0.0
asttokens==2.4.1
attrs==23.2.0
Cerberus==1.3.5
certifi==2024.6.2
cffirmware==0.1
cflib==0.1.24
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
coverage==7.3.0
cycler==0.12.1
Cython==0.29.35
decorator==5.1.1
diffrax==0.5.1
dm-tree==0.1.8
docker-pycreds==0.4.0
einops==0.8.0
empy==3.3.4
equinox==0.11.4
etils==1.7.0
exceptiongroup==1.2.1
executing==2.0.1
flax==0.8.4
fonttools==4.53.0
fsspec==2024.6.0
future==0.18.3
gast==0.5.4
git-filter-repo==2.38.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
importlib-resources==6.1.0
ipdb==0.13.13
ipython==8.25.0
jax==0.4.28
jaxlib==0.4.28+cuda12.cudnn89
jaxopt==0.8.3
-e git+ssh://git@github.com/oswinso/jaxproxqp.git@3a54f072bb6e839242e9c7da6899c548a5af9074#egg=jaxproxqp
jaxtyping==0.2.29
jedi==0.19.1
kconfiglib==14.1.0
kiwisolver==1.4.5
libusb-package==1.0.26.2
lineax==0.0.5
loguru==0.7.2
lxml==4.9.3
markdown-it-py==3.0.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.0.8
nest-asyncio==1.6.0
numpy==1.26.4
nunavut==2.1.1
opt-einsum==3.3.0
optax==0.2.2
optimistix==0.0.7
orbax-checkpoint==0.5.15
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
pipx==1.1.0
pkgconfig==1.5.5
platformdirs==4.2.2
-e git+ssh://git@github.com/oswinso/pncbf_public.git@dbdda3425d496b11f723d5258c427c421847fd84#egg=pncbf
prompt_toolkit==3.0.46
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydsdl==1.20.1
Pygments==2.18.0
pymavlink==2.4.40
pyparsing==3.1.2
pyros-genmsg==0.5.8
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyulog==1.0.1
pyusb==1.2.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
rosbags==0.9.16
rowan==1.3.0.post1
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
scipy==1.11.3
seaborn==0.13.2
sentry-sdk==2.5.0
setproctitle==1.3.3
shapely==2.0.4
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
sympy==1.12
tensorstore==0.1.60
tfp-nightly==0.25.0.dev20240606
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.4
traitlets==5.14.3
transforms3d==0.4.1
typeguard==2.13.3
typer==0.9.0
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
userpath==1.8.0
wandb==0.17.0
wcwidth==0.2.13
zipp==3.19.2
zstandard==0.21.0
